*{margin: 0 auto;}
a {
    color: #000;
}
.top {
    list-style: none;
    background-color: #777;
    text-align: center;
    opacity: 0.7;
}
.top i {
    display: inline-block;
    margin-right: 80px;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
i:hover {
    color: #333;
}
.butn {
    border-style: solid;border-color: teal;color:teal;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.butn:hover {
    background-color: teal;
    border-color: white;
    color: white;
}